@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v20-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v20-latin-700.woff2') format('woff2');
}

*{
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  background-color: #FEFEFE;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}